# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore test output files
*.log
*.out

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build directories
build/
dist/

ip/